@model FarmPlannerClient.Conta.ContaViewModel


<link rel="stylesheet" href="~/sweetalert2.min.css">
<!-- Toastr -->
<link rel="stylesheet" href="~/toastr.min.css">


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Adicionar uma Conta</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->


<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Principal</a>
                        </li>

                    </ul>

                    <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <form asp-action="adicionar">
                                <div class="card">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="id" class="control-label"></label>
                                            <input asp-for="id" class="form-control" readonly />
                                            <span asp-validation-for="id" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="nome" class="control-label"></label>
                                            <input asp-for="nome" class="form-control" />
                                            <span asp-validation-for="nome" class="text-danger"></span>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label asp-for="email" class="control-label"></label>
                                            <input asp-for="email" class="form-control" />
                                            <span asp-validation-for="email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="telefone" class="control-label"></label>
                                            <input asp-for="telefone" class="form-control" />
                                            <span asp-validation-for="telefone" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="cpf" class="control-label"></label>
                                            <input asp-for="cpf" class="form-control" />
                                            <span asp-validation-for="cpf" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="assinatura.plano" class="control-label"></label>
                                            <select asp-for="assinatura.plano" class="form-control" asp-items="@ViewBag.Planos"></select>
                                            
                                        </div>



                                        <input asp-for="representanteid" value="@ViewBag.representanteid" hidden class="form-control" />
                                        <input name="origem" value="@ViewBag.origem" hidden class="form-control" />
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col text-right">
                                                <button type="submit" class="btn btn-primary">Salvar</button>
                                                <a href="/conta/index" class="btn btn-danger">Voltar</a>
                                            </div>                                     
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>                      
                        

                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>

@section scripts {
    <script>


    </script>
}

<!-- /.content -->