@model List<FarmPlannerClient.GrupoProduto.GrupoProdutoViewModel>

@{
    ViewBag.Title = "Grupos de Produtos";
}

<form asp-action="Index">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter">
                <img class="icon" src="/svg/icons/filter.svg" />
                Filtro
            </button>

            <div class="collapse mt-2" id="filter">
                <div class="card card-primary card-outline">
                    <div class="row">

                        <div class="col-md-5">
                            <div class="input-group">

                                <input type="search" class="form-control form-control-md" name="filtro" value="@ViewBag.filtro" placeholder="busca por descrição">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-md btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</form>


<h2>Grupo de Produto</h2>
@if (ViewBag.permissao==true)
{
                        <div class="col text-right">
        <a href="/grupoproduto/adicionar" class="btn btn-default" role="button">
            <img class="icon" src="/svg/icons/plus.svg" />
        </a>

    </div>

}
<div id="jsGrid"></div>



@section scripts {
<script>
       

        $(function () {
            $("#jsGrid").jsGrid({
                width: "100%",
                height: "400px",

                sorting: true,
                paging: true,
                pageSize: 10,                 // Define o número de registros por página
                pageButtonCount: 5,          // Número de botões de navegação exibidos
                pagerFormat: "Páginas: {pages} {prev} {next} {first} {last}",  // Formato do pager,
                pageLoading: false,
                pagePrevText: "Anterior", // Texto para o botão "Anterior"
                pageNextText: "Próximo",  // Texto para o botão "Próximo",
                pageFirstText: "Primeira",  // Adicionando "Primeira" página
                pageLastText: "Última",     // Adicionando "Última" página


                autoload: true,
                noDataContent: "<div class='custom-no-data'>Nenhum dado encontrado</div>",

                controller: {
                    loadData: function () {
                        return $.ajax({
                            type: "GET",
                            url: "/grupoproduto/GetData?filtro=@ViewBag.filtro",
                            dataType: "json"
                        });
                    }
                },

                fields: [
                    { name: "id", type: "number", width: 20, title: "ID", visible: true },
                    { name: "descricao", type: "text", width: 150, title: "Descrição" },

                    {
                        type: "control",
                        itemTemplate: function (_, item) {
                            var $result = $("<div>").addClass("dropdown");

                            var $button = $("<button>").addClass("btn btn-default dropdown-toggle")
                                .attr("type", "button")
                                .attr("id", "dropdownMenuButton")
                                .attr("data-toggle", "dropdown")
                                .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                                .text("Ações");

                            var $menu = $("<div>").addClass("dropdown-menu")
                                .attr("aria-labelledby", "dropdownMenuButton");

                            var $details = $("<a>").addClass("dropdown-item")
                                .attr("href", "#")
                                .text("Visualizar")
                                
                                .on("click", function () {
                                    window.location.href = '/grupoproduto/editar/' + item.id + '?acao=4';
                                });

                            var $edit = $("<a>").addClass("dropdown-item")
                                .attr("href", "#")
                                .text("Editar")
                                .addClass(("@ViewBag.permissao"!="True")?"disabled":"")
                                .on("click", function () {
                                    window.location.href = '/grupoproduto/editar/' + item.id + '?acao=2';
                                });

                            var $delete = $("<a>").addClass("dropdown-item")
                                .attr("href", "#")
                                .text("Excluir")
                                .addClass(("@ViewBag.permissao" != "True") ? "disabled" : "")
                                .on("click", function () {
                                    window.location.href = '/grupoproduto/excluir/' + item.id + '?acao=3';
                                });

                            $menu.append($details).append($edit).append($delete);
                            $result.append($button).append($menu);

                            return $result;
                        }
                    }]
            });
        });


</script>
}