@model ADUSClient.Assinatura.AssinaturaViewModel





<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Excluir uma Assinatura</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->


<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <form asp-action="excluir">
                                <div class="card">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="id" class="control-label"></label>
                                                    <input asp-for="id" class="form-control" readonly />
                                                    <span asp-validation-for="id" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="idparceiro" class="control-label"></label>
                                                    <select asp-for="idparceiro" class="form-control" disabled id="idparceiro" asp-items="@ViewBag.parceiros"></select>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="datavenda" class="control-label"></label>
                                                    <input asp-for="datavenda" class="form-control" disabled id="datavenda" />
                                                    <span asp-validation-for="datavenda" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="idformapagto" class="control-label"></label>
                                                    <select asp-for="idformapagto" class="form-control" disabled id="tipopessoa" asp-items="@ViewBag.FormaPagto"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="status" class="control-label"></label>
                                                    <select asp-for="status" class="form-control" disabled id="status" asp-items="@ViewBag.Status"></select>
                                                </div>

                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="qtd" class="control-label"></label>
                                                    <input asp-for="qtd" class="form-control" disabled id="qtd" />
                                                    <span asp-validation-for="qtd" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="preco" class="control-label"></label>
                                                    <input asp-for="preco" class="form-control" disabled id="preco" />
                                                    <span asp-validation-for="preco" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="valor" class="control-label"></label>
                                                    <input asp-for="valor" class="form-control" disabled id="valor" />
                                                    <span asp-validation-for="valor" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="observacao" class="control-label"></label>
                                                    <input asp-for="observacao" disabled class="form-control">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label asp-for="idplataforma" class="control-label"></label>
                                                    <input asp-for="idplataforma"  disabled class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col text-right">
                                                <button type="submit" class="btn btn-success">Excluir</button>
                                                <a href="/assinatura/index" class="btn btn-danger">Voltar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>


                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>

@section scripts {
    <script>




    </script>
}

<!-- /.content -->
